@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2 {
  font-family: Grenze Gotisch, Pirata One, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

.pirata {
  font-family: Grenze Gotisch, Pirata One, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input, select, textarea {
  @apply bg-gray-200 p-1 rounded-md;
}

button, .btn {
    @apply rounded-md hover:opacity-80 transition text-center;
}

.blk-btn {
  @apply bg-black text-white p-1;
}
