@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2 {
  font-family: Grenze Gotisch, Pirata One, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

